
# Ignore everything
/*

# Except the two only root files we want to include
!/.gitignore
!/*.tex
!/*.txt

# Include all files in all subdirectories
!/**/

# But exclude local vscode settings
.vscode/

# Finished version
!main.pdf
